<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Admin</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/img/admin/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" th:href="@{/img/admin/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{/img/admin/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" th:href="@{/img/admin/apple-touch-icon-114x114-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{/img/admin/apple-touch-icon-144x144-precomposed.png}">
    <!-- Bootstrap core CSS-->
    <link th:href="@{/vendor/admin/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Main styles -->
    <link th:href="@{/css/admin/admin.css}" rel="stylesheet">
    <!-- Icon fonts-->
    <link th:href="@{/vendor/admin/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Plugin styles -->
    <link th:href="@{/vendor/admin/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Your custom styles -->
    <link th:href="@{/css/admin/custom.css}" rel="stylesheet">
    <style>
        .photo-preview {
            margin-top: 10px;
            width: 200px;
            height: 200px;
            background-color: #e9ecef;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ced4da;
        }
        .photo-preview img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body class="fixed-nav sticky-footer" id="page-top">

<div th:replace="~{admin/fragments/aside::aside}"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <div layout:fragment="content" ></div>
    </div>
</div>


<div th:replace="~{admin/fragments/footer::footer}"></div>
<div th:replace="~{admin/fragments/topLogout::topLogout}"></div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!--<th:block layout:fragment="script"></th:block>-->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/admin/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/admin/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/admin/jquery-easing/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/vendor/admin/chart.js/Chart.js}"></script>
<script th:src="@{/vendor/admin/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/admin/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/vendor/admin/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/admin/admin.js}"></script>

<div layout:fragment="script"></div>
</body>
</html>