<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="headerFragment" class="header_in clearfix">
    <div class="container">
        <div id="logo">
            <a th:href="@{/my-seat-dang}" class="box_1">
                <i aria-hidden="true" class="icon-food_icon_bread_2 fs1" style="font-size: 1.5em"></i>
                마싯당
            </a>
        </div>
        <ul id="top_menu">
            <!--   인증된 사용자에게는 로그아웃 버튼이, 인증되지 않은 사용자에게는 로그인 버튼이 표시  -->
            <li sec:authorize="isAuthenticated()">
                <!-- 세션 기반 로그인 사용자일 경우 -->
                <div class="dropdown user clearfix">
                    <a href="#" data-bs-toggle="dropdown">
                        <th:block sec:authorize="authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)">
                            <figure><img th:src="@{${#authentication.principal.customerProfileImage}}" alt=""></figure><span th:text="${#authentication.principal.realName}"></span>
                        </th:block>
                        <th:block sec:authorize="authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User)">
                            <figure><img th:src="@{img/customer/avatar1.jpg}" alt=""></figure><span th:text="${#authentication.principal.name}"></span>
                        </th:block>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-content">
                            <ul>
                                <li><a th:href="@{/my-seat-dang/mypage/edit-profile}">내 프로필</a></li>
<!--                                <li><a th:href="@{/ai-result}">케이크시안 생성하기</a></li>-->
<!--                                <li><a th:href="@{/}">예약</a></li>-->
<!--                                <li><a th:href="@{/}">결제내역</a></li>-->
                                <li><a th:href="@{/logout}"><i class="icon_key"></i>로그아웃</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /dropdown -->
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="#sign-in-dialog" id="sign-in" class="login">로그인</a>
            </li>
        </ul>
        <!-- /top_menu -->
        <div sec:authorize="authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User)" hidden="hidden">
            <div id="memberRole" data-role="${#authentication.principal.authorities}"></div>
        </div>
        <a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>
        <nav class="main-menu">
            <div id="header_menu">
                <a href="#" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a th:href="@{/}"><img th:src="@{/img/customer/logo.svg}" width="140" height="35" alt=""></a>
            </div>
            <ul>
                <li class="submenu">
                    <a th:href="@{/my-seat-dang/search}" class="show-submenu">전체 매장 보기</a>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">AI 이미지생성</a>
                    <ul>
                        <li><a th:href="@{/ai-result}">케이크시안 생성하기</a></li>
                    </ul>
                </li>
                <li class="submenu" id="storeOwnerPage">
                    <a th:href="@{/storeowner/main}" class="show-submenu">마이 페이지</a>
<!--                    <ul>-->
<!--                        <li ><a th:href="@{/admin/main}">관리자페이지</a></li>-->
<!--                        <li><a th:href="@{/storeowner/main}">점주페이지</a></li>-->
<!--                        <li><a th:href="@{/mypage}">마이페이지</a></li>-->
<!--                    </ul>-->
                </li>
                <li class="submenu" id="customerPage">
                    <a th:href="@{/mypage}" class="show-submenu">마이 페이지</a>
                    <ul>
<!--                        <li><a th:href="@{/ai-result}">케이크시안 생성하기</a></li>-->

                        <li><a th:href="@{/my-seat-dang/reservation/list}">예약</a></li>
<!--                        <li><a th:href="@{/}">결제내역</a></li>-->
                        <li><a th:href="@{/my-seat-dang/waiting}">마이 웨이팅</a></li>
                    </ul>
                </li>
                <!--                    <li><a th:href="@{/}"></a></li>-->
            </ul>
        </nav>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#0">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign In Modal -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="modal_header">
            <h3>Sign In</h3>
        </div>
        <form th:action="@{/loginProc}" method="post" name="loginForm">
            <!--                <a href="#0" class="social_bt facebook">Login with Facebook</a>-->
            <!--                <a href="#0" class="social_bt google">Login with Google</a>-->
            <a th:href="@{/oauth2/authorization/naver}" class="social_bt naver">
                <img th:src="@{/img/customer/naverBtnG_ok.png}" alt="Login with Naver"
                     style="width: 100%; height: auto; vertical-align: middle">
                Login with Naver
            </a>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="memberEmail" id="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="memberPassword" id="password" value="">
            </div>
            <div class="text-center">
                <input type="submit" value="Log In" class="btn_1 full-width mb_5">
                계정이 없나요? <a th:href="@{/signup}">회원가입</a>
            </div>
            <div id="forgot_pw">
                <div class="form-group">
                    <label>Please confirm login email below</label>
                    <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                    <i class="icon_mail_alt"></i>
                </div>
                <p>You will receive an email containing a link allowing you to reset your password to a new preferred
                    one.</p>
                <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Modal -->
</header>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var memberRole = $('#memberRole').data('role');

        // 사용자 역할에 따라 <li> 항목 보이기/숨기기
        // if (memberRole === 'ROLE_ADMIN') {
        //     $('#adminPage').show();
        // } else {
        //     $('#adminPage').hide();
        // }

        if (memberRole === 'ROLE_STORE_OWNER') {
            $('#storeOwnerPage').show();
        } else {
            $('#storeOwnerPage').hide();
        }

        if (memberRole === 'ROLE_CUSTOMER') {
            $('#customerPage').show();
        } else {
            $('#customerPage').hide();
        }
    });
</script>
</body>
</html>