<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="headerFragment" class="header_in clearfix element_to_stick">
    <div class="container">
        <div id="logo">
            <a th:href="@{/my-seat-dang}" class="box_1">
                <i aria-hidden="true" class="icon-food_icon_bread_2 fs1" style="font-size: 1.5em"></i>
                마싯당
            </a>
        </div>
        <ul id="top_menu">
            <!--   인증된 사용자에게는 로그아웃 버튼이, 인증되지 않은 사용자에게는 로그인 버튼이 표시  -->
            <li sec:authorize="isAuthenticated()">
                <!-- 세션 기반 로그인 사용자일 경우 -->
                <span sec:authorize="authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)">
                    <span sec:authentication="principal.realName"></span>
                </span>
                    <span sec:authorize="authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User)">
                <span sec:authentication="principal.name"></span>
                </span>

                <a th:href="@{/logout}" style="border: 2px solid #000; padding: 5px 10px; border-radius: 5px;">로그아웃</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="#sign-in-dialog" id="sign-in" class="login">로그인</a>
            </li>
            <!--                <li><a href="#sign-in-dialog" id="sign-in" class="login"></a></li>-->
<!--            <li><a th:href="@{/customer/wishlist.html}" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a>-->
<!--            </li>-->
        </ul>
        <!-- /top_menu -->
        <a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>
        <nav class="main-menu">
            <div id="header_menu">
                <a href="#" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a th:href="@{/}"><img th:src="@{/img/customer/logo.svg}" width="140" height="35" alt=""></a>
            </div>
            <ul>
                <li class="submenu">
                    <a href="#" class="show-submenu">Home</a>
                    <ul>
                        <li><a th:href="@{/detail}">매장상세 예시</a></li>
                        <li class="third-level"><a href="#">마시땅! <strong>New!</strong></a>
                            <ul>
                                <li><a th:href="@{/}">마시쪙 <strong>New!</strong></a></li>
                                <li><a th:href="@{/}">마시땅</a></li>
                                <li><a th:href="@{/}">많이먹어</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/admin/main}">관리자페이지</a></li>
                        <li><a th:href="@{/storeowner/main}">점주페이지</a></li>
                        <li><a th:href="@{/mypage}">마이페이지</a></li>
                        <li><a th:href="@{/ai-result}">케이크시안생성 및 목록</a></li>
                        <li><a th:href="@{/mainmypage}">마이페이지(회원수정)</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#" class="show-submenu">Listing</a>
                    <ul>
                        <li class="third-level"><a href="#">pages 1</a>
                            <ul>
                                <li><a th:href="@{/}">대박</a></li>
                                <li><a th:href="@{/}">날거</a></li>
                                <li><a th:href="@{/}">에오</a></li>
                            </ul>
                        </li>
                        <li class="third-level"><a href="#">pages 2</a>
                            <ul>
                                <li><a th:href="@{/}">Detail page 1</a></li>
                                <li><a th:href="@{/}">Detail page 2</a></li>
                                <li><a th:href="@{/}">Detail page 3</a></li>
                                <li><a th:href="@{/}">Detail page 4</a></li>
                                <li><a th:href="@{/}">Detail page 5</a></li>
                                <li><a th:href="@{/}">Detail page 6</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Other Pages</a>
                    <ul>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                        <li><a th:href="@{/}">test page</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/}">yammy</a></li>
                <!--                    <li><a th:href="@{/}"></a></li>-->
            </ul>
        </nav>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#0">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign In Modal -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="modal_header">
            <h3>Sign In</h3>
        </div>
        <!--            <form id="login-form">-->
        <!--                <div class="sign-in-wrapper">-->
        <!--                    <a href="#0" class="social_bt facebook">Login with Facebook</a>-->
        <!--                    <a href="#0" class="social_bt google">Login with Google</a>-->
        <!--                    <div class="divider"><span>Or</span></div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label>Email</label>-->
        <!--                        <input type="email" class="form-control" name="email" id="email">-->
        <!--                        <i class="icon_mail_alt"></i>-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label>Password</label>-->
        <!--                        <input type="password" class="form-control" name="password" id="password" value="">-->
        <!--                        <i class="icon_lock_alt"></i>-->
        <!--                    </div>-->
        <!--                    <div class="clearfix add_bottom_15" >-->
        <!--                        <div class="checkboxes float-start">-->
        <!--                            <label class="container_check">Remember me-->
        <!--                                <input type="checkbox">-->
        <!--                                <span class="checkmark"></span>-->
        <!--                            </label>-->
        <!--                        </div>-->
        <!--                        <div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>-->
        <!--                    </div>-->
        <!--                    <div class="text-center">-->
        <!--                        <input type="submit" value="Log In" class="btn_1 full-width mb_5">-->
        <!--                        계정이 없나요? <a th:href="@{/signup}">회원가입</a>-->
        <!--                    </div>-->
        <!--                    <div id="forgot_pw">-->
        <!--                        <div class="form-group">-->
        <!--                            <label>Please confirm login email below</label>-->
        <!--                            <input type="email" class="form-control" name="email_forgot" id="email_forgot">-->
        <!--                            <i class="icon_mail_alt"></i>-->
        <!--                        </div>-->
        <!--                        <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>-->
        <!--                        <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </form>-->
        <form th:action="@{/loginProc}" method="post" name="loginForm">
            <!--                <a href="#0" class="social_bt facebook">Login with Facebook</a>-->
            <!--                <a href="#0" class="social_bt google">Login with Google</a>-->
            <a th:href="@{/oauth2/authorization/naver}" class="social_bt naver">
                <img th:src="@{/img/customer/naverBtnG_ok.png}" alt="Login with Naver"
                     style="width: 100%; height: auto; vertical-align: middle">
                Login with Naver
            </a>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="memberEmail" id="email">
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="memberPassword" id="password" value="">
                <i class="icon_lock_alt"></i>
            </div>
            <div class="clearfix add_bottom_15">
                <div class="checkboxes float-start">
                    <label class="container_check">Remember me
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
            </div>
            <div class="text-center">
                <input type="submit" value="Log In" class="btn_1 full-width mb_5">
                계정이 없나요? <a th:href="@{/signup}">회원가입</a>
            </div>
            <div id="forgot_pw">
                <div class="form-group">
                    <label>Please confirm login email below</label>
                    <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                    <i class="icon_mail_alt"></i>
                </div>
                <p>You will receive an email containing a link allowing you to reset your password to a new preferred
                    one.</p>
                <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Modal -->
</header>
</body>
</html>