spring:
  application:
    name: myseatdang
# profile관리
  profiles:
    default: test
  #    active: prod

  # 공통 jpa 설정
  jpa:
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        hbm2ddl:
          auto: none
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

  s3:
    accessKey: ${SPRING_S3_ACCESSKEY}
    secretKey: ${SPRING_S3_SECRETKEY}
    bucket: myseatdang-bucket

logging:
  level:
    root: info

app:
  version: 0.1.1

file:
  upload-dir: /path/to/upload/directory