spring:
  application:
    name: seatdang
  data:
    mongodb:
      host: localhost
      port: 27017
      database: chatdb

# profile관리
  profiles:
    default: test
  #    active: prod

  # 공통 jpa 설정
  jpa:
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        hbm2ddl:
          auto: update
#  thymeleaf:
#    prefix: classpath:/templates/
#    suffix: .html

  s3:
    accessKey: ${SPRING_S3_ACCESSKEY}
    secretKey: ${SPRING_S3_SECRETKEY}
    bucket: myseatdang-bucket

logging:
  level:
    root: info

app:
  version: 0.1.1

file:
  upload-dir: /path/to/upload/directory

ncp:
  api:
    accessId: ${NCP_APIGW_ACCESS_ID}
    secretKey: ${NCP_APIGW_SECRET_KEY}
