# 사용자 정의 속성
profile:
  value: 'test'

spring:
  data:
    mongodb:
      uri: ${MONGO_DB_URI}
      host: localhost
      port: 27117
      database: chatdb
  datasource:
    url: ${TEST_DB_URL}
    username: ${TEST_DB_USERNAME}
    password: ${TEST_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver