<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Awaiting Waiting</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>
<h1>Awaiting Waiting</h1>
<table>
    <thead>
    <tr>
        <th>Store Name</th>
        <th>Waiting Number</th>
        <th>People Count</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="waiting : ${waitings}">
        <td th:text="${waiting.storeName}">Store Name</td>
        <td th:text="${waiting.waitingNumber}">Waiting Number</td>
        <td th:text="${waiting.peopleCount}">People Count</td>
        <td th:text="${waiting.waitingStatus.name()}">Status</td>
    </tr>
    </tbody>
</table>
</body>
</html>
