<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Awaiting Waiting Detail</title>
    <script>
        // 페이지가 로드된 후 실행되는 스크립트
        window.onload = function() {
            // 폼 요소를 가져옵니다.
            const form = document.getElementById('cancelWaitingForm');

            // 폼의 submit 이벤트 리스너 추가
            form.addEventListener('submit', function(event) {
                // 확인 창을 표시하여 사용자의 선택을 요청합니다.
                const confirmed = confirm('정말 취소하겠습니까?');
                if (!confirmed) {
                    // 사용자가 취소를 클릭하면 폼 제출을 취소합니다.
                    event.preventDefault();
                }
                // 사용자가 확인을 클릭하면 폼이 제출됩니다.
            });
        };
    </script>
</head>
<body>
<h1>Awaiting Waiting Detail</h1>
<p><strong>Waiting Number:</strong> <span th:text="${waitingDetailResponse.waitingNumber}"></span></p>
<p><strong>Waiting Order:</strong> <span th:text="${waitingDetailResponse.waitingOrder}"></span></p>
<p><strong>Waiting Status:</strong> <span th:text="${waitingDetailResponse.waitingStatus}"></span></p>
<p><strong>Created Date:</strong> <span th:text="${{waitingDetailResponse.createdDate}}"></span></p>
<p><strong>People Count:</strong> <span th:text="${waitingDetailResponse.peopleCount}"></span></p>
<p><strong>Store Name:</strong> <span th:text="${waitingDetailResponse.storeName}"></span></p>
<form id="cancelWaitingForm"  th:action="@{|/my-seat-dang/waiting/${waitingDetailResponse.waitingNumber}/awaiting/detail?storeId=${waitingDetailResponse.storeId}|}" method="post">
    <button type="submit">Cancel Waiting</button>
</form>

<a th:href="@{|/my-seat-dang/waiting?status=0|}" class="btn btn-secondary">Back to Waiting List</a>
</body>
</html>