<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Visited Waiting Detail</title>
    <!--    main page only css-->
    <link th:href="@{/css/customer/home.css}" rel="stylesheet">
</head>
<body>
<main layout:fragment="main">
    <h1>Visited Waiting Detail</h1>
    <p><strong>Waiting Number:</strong> <span th:text="${waitingDetailResponse.waitingNumber}"></span></p>
    <p><strong>Waiting Status:</strong> <span th:text="${waitingDetailResponse.waitingStatus}"></span></p>
    <p><strong>Created Date:</strong> <span th:text="${{waitingDetailResponse.createdDate}}"></span></p>
    <p><strong>Visited Time:</strong> <span th:text="${{waitingDetailResponse.visitedTime}}"></span></p>
    <p><strong>People Count:</strong> <span th:text="${waitingDetailResponse.peopleCount}"></span></p>
    <p><strong>Store Name:</strong> <span th:text="${waitingDetailResponse.storeName}"></span></p>

    <a th:href="@{|/my-seat-dang/waiting?status=1&when=${when}|}" class="btn btn-secondary">Back to Waiting List</a>
</main>
</body>
</html>