<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Waiting</title>
</head>
<body>
<h1>Create Waiting</h1>

<div>
    <p>Do you want to register for waiting at <span th:text="${readyWaitingResponse.storeName}"></span>?</p>
    <p>Current Waiting Teams: <span th:text="${waitingTeam}"></span></p>
</div>
<form action="/my-seat-dang/waiting" method="post">
    <!-- Hidden field for storeId -->
    <input type="hidden" name="storeId" th:value="${readyWaitingResponse.storeId}"/>

    <div>
        <label for="peopleCount">People Count:</label>
        <input type="number" id="peopleCount" name="peopleCount" min="1"
               th:max="${readyWaitingResponse.waitingPeopleCount}" value="2" required/>
    </div>
    <button type="submit">Create</button>
</form>

<!-- Optional: Add a link to go back to the home page or other pages -->
<a href="/my-seat-dang">Back to Home</a>
</body>
</html>
