<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/customer/listing.css}" rel="stylesheet">
    <link th:href="@{/css/customer/customcss/mysearch.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{|https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${ncpAccessId}&submodules=geocoder|}"></script>
<!--    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=m1vrso77rm&submodules=geocoder"></script>-->
</head>
<body>
<div layout:fragment="main" class="bg_gray pattern">
    <main>
        <div class="page_header element_to_stick">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Category</a></li>
                                <li>Page active</li>
                            </ul>
                        </div>
                        <h1>검색 결과</h1>
<!--                        검색 -->
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <form th:action="@{/my-seat-dang/search}" method="get" >
                            <div class="search-wrapper">
                                <div class="input-group">
                                    <div class="input-field">
                                        <i class="icon_search"></i>
                                        <input type="text" name="store_name" class="form-control" style="padding-left: 35px" placeholder="매장명...">
                                    </div>
                                    <div class="input-divider"></div>
                                    <div class="input-field">
                                        <i class="icon_pin_alt"></i>
                                        <input type="text" name="store_address" class="form-control" style="padding-left: 35px" placeholder="지역...">
                                    </div>
                                </div>
                                <input type="submit" value="Search" class="search-btn">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /page_header -->
        <div class="container margin_30_40" id="collapseMap">
            <div id="map" class="map"></div>
        </div>
        <!-- /Map -->

        <div class="container margin_30_40">
            <div class="row">
                <div class="tabs_detail">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab" role="tab">전체목록</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link" data-bs-toggle="tab" role="tab">웨이팅 매장</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-C" href="#pane-C" class="nav-link" data-bs-toggle="tab" role="tab">예약방문 매장</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-D" href="#pane-D" class="nav-link" data-bs-toggle="tab" role="tab">주문 제작 케이크</a>
                        </li>
                    </ul>

                    <div class="tab-content" role="tablist">
                        <div id="pane-A" class="card tab-pane fade show active mt-3" role="tabpanel" aria-labelledby="tab-A">
                            <div class="card-header bg_gray pattern" role="tab" id="heading-A">
                                <h5>
                                    <span class="tab_info">
                                        전체매장 목록 | 위의 탭을 클릭하여 원하시는 매장을 찾아보세요
                                    </span>
                                </h5>
                            </div>
                            <!-- /상점 블록 -->

                                <div class="col-lg-12 pt-3 bg_gray pattern">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" th:each="store : ${storePage}">
                                                <div class="strip">
                                                    <figure class="my-figure">
                                                        <span th:classappend="${store.opened}? 'my_loc_open' : 'my_loc_closed'" th:text="${store.opened}? '영업중' : '영업종료'"></span>
                                                        <img th:src="@{/img/customer/detail_1.jpg}" th:data-src="${store.getThumbnail()}" class="img-fluid lazy" alt="">
                                                        <a th:href="|@{/my-seat-dang/store/detail/}${store.storeId}|" class="strip_info">
                                                            <small th:text="${store.storeType.description}"></small>
                                                            <div class="item_title">
                                                                <h3 th:text="${store.storeName}"></h3>
                                                                <small th:text="${store.storeAddress}"></small>
                                                            </div>
                                                        </a>
                                                    </figure>
                                                </div>

                                        </div>
                                        <!-- /strip grid -->
                                    </div>
                                    <!-- /row -->
                                </div>
                            <!-- /col -->
                        </div>




                        <div id="pane-B" class="card tab-pane fade mt-3" role="tabpanel" aria-labelledby="tab-B">
                            <div class="card-header bg_gray pattern" role="tab" id="heading-B">
                                <h5>
                                    <span class="tab_info">
                                        웨이팅형 매장 | 웨이팅이 가능한 매장 입니다
                                    </span>
                                </h5>
                            </div>
                            <!-- /상점 블록 -->
                            <div class="col-lg-12 pt-3 bg_gray pattern">
                                <div class="row">
                                    <th:block th:each="store : ${storePage}">
                                        <th:block th:if="*{store.storeType.toString().equals('GENERAL_WAITING')}">
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                                    <div class="strip">
                                                        <figure class="my-figure">
                                                            <span th:classappend="${store.opened}? 'my_loc_open' : 'my_loc_closed'" th:text="${store.opened}? '영업중' : '영업종료'"></span>
                                                            <img th:src="@{/img/customer/detail_1.jpg}" th:data-src="${store.getThumbnail()}" class="img-fluid lazy" alt="">
                                                            <a th:href="|@{/my-seat-dang/store/detail/}${store.storeId}|" class="strip_info">
                                                                <small th:text="${store.storeType.description}"></small>
                                                                <div class="item_title">
                                                                    <h3 th:text="${store.storeName}"></h3>
                                                                    <small th:text="${store.storeAddress}"></small>
                                                                </div>
                                                            </a>
                                                        </figure>
                                                    </div>
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <!-- /strip grid -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /col -->
                        </div>


                        <div id="pane-C" class="card tab-pane fade mt-3" role="tabpanel" aria-labelledby="tab-C">
                            <div class="card-header bg_gray pattern" role="tab" id="heading-C">
                                <h5>
                                    <span class="tab_info">
                                        예약방문 매장 | 예약 방문하는 매장입니다
                                    </span>
                                </h5>
                            </div>
                            <!-- /상점 블록 -->
                            <div class="col-lg-12 pt-3 bg_gray pattern">
                                <div class="row">
                                    <th:block th:each="store : ${storePage}">
                                        <th:block th:if="*{store.storeType.toString().equals('GENERAL_RESERVATION')}">
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                                <div class="strip">
                                                    <figure class="my-figure">
                                                        <span th:classappend="${store.opened}? 'my_loc_open' : 'my_loc_closed'" th:text="${store.opened}? '영업중' : '영업종료'"></span>
                                                        <img th:src="@{/img/customer/detail_1.jpg}" th:data-src="${store.getThumbnail()}" class="img-fluid lazy" alt="">
                                                        <a th:href="|@{/my-seat-dang/store/detail/}${store.storeId}|" class="strip_info">
                                                            <small th:text="${store.storeType.description}"></small>
                                                            <div class="item_title">
                                                                <h3 th:text="${store.storeName}"></h3>
                                                                <small th:text="${store.storeAddress}"></small>
                                                            </div>
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <!-- /strip grid -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /col -->
                        </div>



                        <div id="pane-D" class="card tab-pane fade mt-3" role="tabpanel" aria-labelledby="tab-D">
                            <div class="card-header bg_gray pattern" role="tab" id="heading-D">
                                <h5>
                                    <span class="tab_info">
                                        맞춤 제작 케이크 | 맞춤형 제작 케이크 시안 상담과 예약&결제를 한번에 할수 있습니다
                                    </span>
                                </h5>
                            </div>
                            <!-- /상점 블록 -->
                            <div class="col-lg-12 pt-3 bg_gray pattern">
                                <div class="row">
                                    <th:block th:each="store : ${storePage}">
                                        <th:block th:if="*{store.storeType.toString().equals('CUSTOM')}">
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                                <div class="strip">
                                                    <figure class="my-figure">
                                                        <span th:classappend="${store.opened}? 'my_loc_open' : 'my_loc_closed'" th:text="${store.opened}? '영업중' : '영업종료'"></span>
                                                        <img th:src="@{/img/customer/detail_1.jpg}" th:data-src="${store.getThumbnail()}" class="img-fluid lazy" alt="">
                                                        <a th:href="|@{/my-seat-dang/store/detail/}${store.storeId}|" class="strip_info">
                                                            <small th:text="${store.storeType.description}"></small>
                                                            <div class="item_title">
                                                                <h3 th:text="${store.storeName}"></h3>
                                                                <small th:text="${store.storeAddress}"></small>
                                                            </div>
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <!-- /strip grid -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /col -->
                        </div>

                        <div th:replace="~{customer/fragments/pagenation::pagenationFragment}"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->

    </main>
    <!-- /main -->
</div>

<div layout:fragment="js">
    <!-- 이 페이지 전용 스크립트 -->
    <script th:src="@{/js/customer/sticky_sidebar.min.js}"></script>
    <script th:src="@{/js/customer/specific_listing.js}"></script>
    <script th:inline="javascript">
        var HOME_PATH = window.HOME_PATH || '.';
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.5096296,127.055487),
            zoom: 17
        });

        var bounds = map.getBounds(),
            southWest = bounds.getSW(),
            northEast = bounds.getNE(),
            lngSpan = northEast.lng() - southWest.lng(),
            latSpan = northEast.lat() - southWest.lat();

        /*<![CDATA[*/
        const stores = /*[[${storePage}]]*/ '[]';
        /*]]>*/

        var markers = [],
            infoWindows = [];

        var geocodePromises = stores.map((store) => {
            return new Promise((resolve, reject) => {
                naver.maps.Service.fromAddrToCoord({
                    query: store.storeAddress
                }, function(status, response) {
                    if (status === naver.maps.Service.Status.OK) {
                        var result = response.v2;
                        var position = new naver.maps.LatLng(result.addresses[0].y, result.addresses[0].x);
                        var marker = new naver.maps.Marker({
                            map: map,
                            position: position,
                            title: store.storeName,
                            zIndex: 100
                        });
                        var infoWindow = new naver.maps.InfoWindow({
                            content: `
                                        <div class="infoBox" style="position: absolute; visibility: visible; width: 290px; left: 25px; bottom: -1px;">
                                        <div class="marker_info" id="marker_info">
                                        <img src="${store.thumbnail}" alt="" style="width: 240px; height: 140px; display: block; margin: 0 auto; cursor: pointer;" onclick="window.location.href='/my-seat-dang/store/detail/${store.storeId}'">
                                        <span>
                                            <h3>${store.storeName}</h3><em>제과점</em><strong>undefined</strong>
                                            <a class="btn_infobox_phone">02-1234-5678</a>
                                        </span>
                                       </div></div>`,
                            backgroundColor: "transparent", // 투명 배경
                            borderColor: "transparent",     // 투명 테두리
                            borderWidth: 0                  // 테두리 두께 제거
                        });

                        markers.push(marker);
                        infoWindows.push(infoWindow);
                        resolve();
                    } else {
                        reject(status);
                    }
                });
            });
        });

        Promise.all(geocodePromises).then(() => {
            console.log(`Markers length: ${markers.length}`);

            markers.forEach((marker, index) => {
                naver.maps.Event.addListener(marker, 'click', getClickHandler(index));
            });

            naver.maps.Event.addListener(map, 'idle', function() {
                updateMarkers(map, markers);
            });
            map.setCenter(markers[0].getPosition());
        }).catch((error) => {
            console.error('Geocoding error:', error);
        });

        function updateMarkers(map, markers) {
            var mapBounds = map.getBounds();
            var marker, position;
            for (var i = 0; i < markers.length; i++) {
                marker = markers[i]
                position = marker.getPosition();
                if (mapBounds.hasLatLng(position)) {
                    showMarker(map, marker);
                } else {
                    hideMarker(map, marker);
                }
            }
        }

        function showMarker(map, marker) {

            if (marker.setMap()) return;
            marker.setMap(map);
        }

        function hideMarker(map, marker) {

            if (!marker.setMap()) return;
            marker.setMap(null);
        }

        // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
        function getClickHandler(seq) {
            return function(e) {
                var marker = markers[seq],
                    infoWindow = infoWindows[seq];
                console.log('이벤트온!');
                map.setCenter(markers[0].getPosition());
                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker);
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            // 쿼리 파라미터에서 탭 활성화 정보 읽기
            const urlParams = new URLSearchParams(window.location.search);
            const tabId = urlParams.get('tab');

            if (tabId) {
                const tabElement = document.querySelector(`a[href="#${tabId}"]`);
                if (tabElement) {
                    const tab = new bootstrap.Tab(tabElement);
                    tab.show();
                }
            }
        });

    </script>
</div>
</body>
</html>