<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{storeowner/layout/default}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>웨이팅 목록</title>
    <style>
        .active-button {
            font-weight: bold;
            border-color: #0d6efd;
            box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
        }

        .disabled-link {
            pointer-events: none;
            color: #6c757d;
            cursor: not-allowed;
        }

        .waiting-info {
            margin-bottom: 20px;
        }
        .row-buttons {
            display: flex;
            gap: 10px; /* 버튼 사이의 간격 */
        }

        .row-buttons button {
            padding: 0; /* 안쪽 여백 제거 */
            border: none; /* 테두리 제거 */
            cursor: pointer;
            outline: none; /* 포커스 아웃라인 제거 */
            box-shadow: none; /* 박스 그림자 제거 */
            width: 60px; /* 버튼 너비 고정 */
            height: 40px; /* 버튼 높이 고정 */
            text-align: center; /* 텍스트 중앙 정렬 */
            line-height: 40px; /* 버튼 높이와 동일하게 설정하여 텍스트 수직 중앙 정렬 */
        }
    </style>

</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <h2>웨이팅 목록</h2>

        <p>현재 상태: <span th:text="${waitingStatus.waitingStatus}"></span></p>

        <div th:if="${status == 0}">
            <h2>예상 대기 시간: <span th:text="${estimatedTime}"></span></h2>
        </div>

        <div class="waiting-info">
            <p>총 등록 수: <span th:text="${waitingPeople.teamCount}"></span></p>
            <p>총 인원 수: <span th:text="${waitingPeople.peopleCount}"></span></p>
        </div>

        <div class="btn-group mb-4" role="group" aria-label="Status buttons">
            <a href="#" th:href="@{/store-owner/waiting(status=0)}"
               class="btn btn-outline-primary" th:classappend="${status == 0} ? 'active-button' : ''">웨이팅 중</a>
            <a href="#" th:href="@{/store-owner/waiting(status=1)}"
               class="btn btn-outline-success" th:classappend="${status == 1} ? 'active-button' : ''">입장 완료</a>
            <a href="#" th:href="@{/store-owner/waiting(status=2)}"
               class="btn btn-outline-danger" th:classappend="${status == 2} ? 'active-button' : ''">취소/노쇼</a>
        </div>

        <hr/>


        <!-- 웨이팅 리스트 -->
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>웨이팅 번호</th>
                    <th th:if="${status != 1}">웨이팅 순서</th>
                    <th>고객 전화번호</th>
                    <th>방문 인원수</th>
                    <th>웨이팅 상태</th>
                    <th>등록 시간</th>
                    <th th:if="${status == 1}">방문 시간</th>
                    <th th:if="${status >= 2}">취소 시간</th>
                    <th th:if="${status == 0}">상태 변경</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="waiting : ${waitings}">
                    <td th:text="${waiting.waitingNumber}"></td>
                    <td th:if="${status != 1}" th:text="${waiting.waitingOrder}"></td>
                    <td th:text="${waiting.customerPhone}"></td>
                    <td th:text="${waiting.peopleCount}"></td>
                    <td th:text="${waiting.waitingStatus.status}"></td>
                    <td th:text="${{waiting.createdDate}}"></td>
                    <td th:if="${status == 1}" th:text="${{waiting.visitedTime}}"></td>
                    <td th:if="${status >= 2}" th:text="${{waiting.canceledTime}}"></td>
                    <td th:if="${status == 0}">
                        <div class="row-buttons">
                            <form th:if="${waiting.waitingOrder == 1}" th:action="@{/store-owner/waiting}"
                                  method="post">
                                <input type="hidden" name="waitingNumber" th:value="${waiting.waitingNumber}"/>
                                <input type="hidden" name="storeId" th:value="${storeId}"/>
                                <input type="hidden" name="changeStatus" value="1"/>
                                <button type="submit" class="btn btn-primary">입장</button>
                            </form>
                            <form th:action="@{/store-owner/waiting}" method="post">
                                <input type="hidden" name="waitingNumber" th:value="${waiting.waitingNumber}"/>
                                <input type="hidden" name="storeId" th:value="${storeId}"/>
                                <input type="hidden" name="waitingOrder" th:value="${waiting.waitingOrder}"/>
                                <input type="hidden" name="changeStatus" value="2"/>
                                <button type="submit" class="btn btn-danger">취소</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination Controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" th:if="${totalPages >= 1}" >
                <!-- Previous Button (Always Visible but Disabled if on First Page) -->
                <li class="page-item">
                    <a class="page-link" th:href="${currentPage == 0} ? '#' : @{/store-owner/waiting(status=${status}, page=${currentPage - 1})}"
                       th:classappend="${currentPage == 0} ? 'disabled-link' : ''">
                        &laquo; 이전
                    </a>
                </li>

                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link"
                       th:href="@{/store-owner/waiting(status=${status}, page=${i})}"
                       th:text="${i + 1}"
                       th:classappend="${i == currentPage} ? 'active' : ''"></a>
                </li>

                <!-- Next Button (Always Visible but Disabled if on Last Page) -->
                <li class="page-item">
                    <a class="page-link" th:href="${currentPage == totalPages - 1} ? '#' : @{/store-owner/waiting(status=${status}, page=${currentPage + 1})}"
                       th:classappend="${currentPage == totalPages - 1} ? 'disabled-link' : ''">
                        다음 &raquo;
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</div>
<div layout:fragment="js">
    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/admin/admin.js}"></script>
    <!-- Custom scripts for this page-->
    <script th:src="@{/js/admin/admin-charts.js}"></script>
</div>
</body>
</html>
