<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Welcome!</h1>
    <p>Click the button below to generate a prompt.</p>
    <button onclick="showPrompt()">생성</button>
</div>
<script>
    function showPrompt() {
        let userInput = prompt("원하는 케이크 시안 특징을 입력해주세요:");
        if (userInput) {
            alert("케이크시안 생성하겠습니다.");
        } else {
            alert("취소하셨습니다.");
        }
    }
</script>
</body>
</html>