<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{store/layout/default}" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content0">
    <!-- SPECIFIC CSS -->
    <link th:href="@{/store/css/listing.css}" rel="stylesheet">
    <link th:href="@{/store/css/leaflet.css}" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</div>

<!--body-->
	<div layout:fragment="content">
	<header class="header_in is_sticky clearfix">
		<div class="container-fluid">
		<div id="logo">
			<a href="index.html">
				<img th:src="@{/store/img/logo_sticky.svg}" width="140" height="35" alt="">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="#sign-in-dialog" id="sign-in" class="login">Sign In</a></li>
			<li><a href="wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
		</ul>
		<!-- /top_menu -->
		<a href="#0" class="open_close">
			<i class="icon_menu"></i><span>Menu</span>
		</a>
		<nav class="main-menu">
			<div id="header_menu">
				<a href="#0" class="open_close">
					<i class="icon_close"></i><span>Menu</span>
				</a>
				<a href="index.html"><img th:src="@{/store/img/logo.svg}" width="140" height="35" alt=""></a>
			</div>
			<ul>
				<li class="submenu">
					<a href="#0" class="show-submenu">Home</a>
					<ul>
						<li><a href="index.html">Default</a></li>			
						<li class="third-level"><a href="#0">Sliders - Parallax <strong>New!</strong></a>
							<ul>
								<li><a href="index-16.html">Kenburns slider <strong>New!</strong></a></li>
								<li><a href="index-8.html">Revolution Slider 1</a></li>
								<li><a href="index-9.html">Revolution Slider 2</a></li>
								<li><a href="index-3.html">Owl Carousel</a></li>
								<li><a href="index-10.html">Parallax Youtube</a></li>
								<li><a href="index-11.html">Parallax Vimeo</a></li>
								<li><a href="index-12.html">Parallax Mp4 Video</a></li>
								<li><a href="index-13.html">Parallax Video Fullscreen</a></li>
								<li><a href="index-14.html">Parallax Image</a></li>
							</ul>
						</li>
						<li><a href="index-15.html">Text Rotator</a></li>
						<li><a href="index-5.html">Address Autocomplete</a></li>
						<li><a href="index-6.html">Search Version 2</a></li>
						<li><a href="index-7.html">Delivery/Takeaway version</a></li>
						<li><a href="modal-advertise.html">Modal Advertise</a></li>
						<li><a href="modal-newsletter.html">Modal Newsletter</a></li>
						<li><a href="index-2.html">Video Bg Fallback Mobile</a></li>
						<li><a href="index-4.html">GDPR Cookie Bar EU Law</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#0" class="show-submenu">Listing</a>
					<ul>
						<li class="third-level"><a href="#0">List pages</a>
							<ul>
								<li><a href="grid-listing-filterscol.html">List default</a></li>
								<li><a href="grid-listing-filterscol-map.html">List with map</a></li>
								<li><a href="listing-map.html">List side map</a></li>
								<li><a href="grid-listing-filterscol-full-width.html">List full width</a></li>
								<li><a href="grid-listing-filterscol-full-masonry.html">List Masonry Filter</a></li>
								<li><a href="grid-listing-filterscol-delivery.html">List Delivery/Takeaway</a></li>
							</ul>
						</li>
						<li class="third-level"><a href="#0">Detail pages</a>
							<ul>
								<li><a href="detail-restaurant.html">Detail page 1</a></li>
								<li><a href="detail-restaurant-2.html">Detail page 2</a></li>
								<li><a href="detail-restaurant-3.html">Mobile Fixed Booking</a></li>
								<li><a href="detail-restaurant-delivery.html">Delivery/Takeaway</a></li>
								<li><a href="storeDetail.html">Detail Menu Thumbs</a></li>
								<li><a href="detail-restaurant-5.html">Detail Contact Form</a></li>
							</ul>
						</li>
						<li class="third-level"><a href="#0">OpenStreetMap</a>
							<ul>
								<li><a href="grid-listing-filterscol-map-openstreetmap.html">List with map</a></li>
								<li><a href="storeList.html">List side map</a></li>
								<li><a href="grid-listing-filterscol-full-width-openstreetmap.html">List full width</a></li>
								<li><a href="grid-listing-filterscol-full-masonry-openstreetmap.html">List Masonry Filter</a></li>
							</ul>
						</li>
						<li><a href="submit-restaurant.html">Submit Restaurant</a></li>
						<li><a href="submit-rider.html">Submit Rider</a></li>
						<li><a href="wishlist.html">Wishlist</a></li>
						<li><a href="booking.html">Booking</a></li>
						<li><a href="confirm.html">Confirm Booking</a></li>
						<li><a href="confirm-delivery.html">Confirm Order</a></li>
						<li><a href="booking-delivery-2.html">Order Delivery/Takeaway</a></li>
						<li><a href="booking-delivery.html">Order Delivery/Takeaway 2</a></li>
						<li><a th:href="@{/store/admin_section/index.html}" target="_blank">Admin Section</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#0" class="show-submenu">Other Pages</a>
					<ul>
						<li><a href="404.html">404 Error</a></li>
						<li><a href="help.html">Help and Faq</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="leave-review.html">Leave a review</a></li>
						<li><a href="user-logged-1.html">User Logged 1</a></li>
						<li><a href="user-logged-2.html">User Logged 2</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li><a th:href="@{/store/coming_soon/index.html}">Coming Soon</a></li>
						<li><a href="account.html">Sign Up</a></li>
						<li><a href="icon-pack-1.html">Icon Pack 1</a></li>
						<li><a href="icon-pack-2.html">Icon Pack 2</a></li>
					</ul>
				</li>
				<li><a href="submit-restaurant.html">Submit</a></li>
				<li><a href="#0">Buy this template</a></li>
			</ul>
		</nav>
	</div>
	</header>
	<!-- /header -->
	
	<main>
		<div class="container-fluid full-height">
			<div class="row row-height">
	            <div class="col-xl-4 col-lg-5 content-left order-md-last order-sm-last order-last map_view">
	                <div class="page_header element_to_stick">
	                    <div class="row">
	                        <div class="col-xl-12 d-none d-md-block">
<!--	                            <h1>145 restaurants in Convent Street 2983</h1>-->
	                        </div>
	                        <div class="col-xl-12">
	                            <div class="search_bar_list">
	                                <input type="text" class="form-control" placeholder="Search again...">
	                                <input type="submit" value="Search">
	                            </div>
	                        </div>
	                    </div>
	                    <!-- /row -->
	                </div>
	                <!-- /page_header -->
<!--예약/웨이팅 탭-->
			<div class="tabs_detail">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab" role="tab">예약</a>
					</li>
					<li class="nav-item">
						<a id="tab-B" href="#pane-B" class="nav-link" data-bs-toggle="tab" role="tab">웨이팅</a>
					</li>
				</ul>
<!--정렬 시작-->
				<div class="tab-content" role="tablist">
					<div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
	                <div class="filters_full clearfix">
	                    <div class="container">
	                        <div class="sort_select">
	                            <select name="sort" id="sort">
	                                <option value="popularity" selected="selected">Sort by Popularity</option>
	                                <option value="rating">Sort by Average rating</option>
	                                <option value="date">Sort by newness</option>
	                                <option value="price">Sort by Price: low to high</option>
	                                <option value="price-desc">Sort by Price: high to low</option>
	                            </select>
	                        </div>
	                        <a href="#collapseFilters" data-bs-toggle="collapse" class="btn_filters"><i class="icon_adjust-vert"></i><span>Filters</span></a>
<!--							-->
						</div>
	                </div>
	                <!-- /filters_full -->
<!--정렬 끝-->
<!--필터 시작-->
	                <div class="collapse filters_2" id="collapseFilters">
	                    <div class="container margin_detail">
	                        <div class="row">
	                            <div class="col-md-6">
	                                <div class="filter_type">
	                                    <h6>Categories</h6>
	                                    <ul>
	                                        <li>
	                                            <label class="container_check">일반빵 <small>12</small>
	                                                <input type="checkbox">
	                                                <span class="checkmark"></span>
	                                            </label>
	                                        </li>
	                                        <li>
	                                            <label class="container_check">제작케이크 <small>24</small>
	                                                <input type="checkbox">
	                                                <span class="checkmark"></span>
	                                            </label>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
<!--	                            <div class="col-md-6">-->
<!--	                                <div class="filter_type">-->
<!--	                                    <h6>Rating</h6>-->
<!--	                                    <ul>-->
<!--	                                        <li>-->
<!--	                                            <label class="container_check">Superb 9+ <small>06</small>-->
<!--	                                                <input type="checkbox">-->
<!--	                                                <span class="checkmark"></span>-->
<!--	                                            </label>-->
<!--	                                        </li>-->
<!--	                                        <li>-->
<!--	                                            <label class="container_check">Very Good 8+ <small>12</small>-->
<!--	                                                <input type="checkbox">-->
<!--	                                                <span class="checkmark"></span>-->
<!--	                                            </label>-->
<!--	                                        </li>-->
<!--	                                        <li>-->
<!--	                                            <label class="container_check">Good 7+ <small>17</small>-->
<!--	                                                <input type="checkbox">-->
<!--	                                                <span class="checkmark"></span>-->
<!--	                                            </label>-->
<!--	                                        </li>-->
<!--	                                        <li>-->
<!--	                                            <label class="container_check">Pleasant 6+ <small>43</small>-->
<!--	                                                <input type="checkbox">-->
<!--	                                                <span class="checkmark"></span>-->
<!--	                                            </label>-->
<!--	                                        </li>-->
<!--	                                    </ul>-->
<!--	                                </div>-->
<!--	                            </div>-->
<!--	                            <div class="col-md-12">-->
<!--	                                <div class="filter_type">-->
<!--	                                    <h6>Distance</h6>-->
<!--	                                    <div class="distance"> Radius around selected destination <span></span> km</div>-->
<!--	                                    <div><input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal"></div>-->
<!--	                                </div>-->
<!--	                            </div>-->
	                        </div>
	                        <!-- /row -->
	                    </div>
	                </div>
	                <!-- /filters -->
<!--필터 끝-->
	                <div class="row">
	                    <div class="col-lg-12 col-sm-6">
	                        <div class="strip" th:each="store : ${stores}">
	                            <figure>
	                                <img th:src="${store.thumbnail}" data-src="img/location_1.jpg" class="img-fluid lazy" alt="">
	                                <a href="storeDetail" class="strip_info">
	                                    <div class="item_title">
	                                        <h3 th:text="${store.storeName}"></h3>
	                                        <small th:text="${store.storeAddress}"></small>
	                                    </div>
	                                </a>
	                            </figure>
	                            <ul>
	                                <li><a href="#0" data-id="1" class="address">View on Map</a></li>
	                                <li>
	                                    <div class="score"><span><em>350 Reviews</em></span><strong th:text="${store.starRating}"></strong></div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <!-- /strip grid -->
	                </div>
	                <!-- /row -->
					</div>
				</div>


				<div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
						<div class="filters_full clearfix">
							<div class="container">
								<div class="sort_select">
									<select name="sort" id="sort2">
										<option value="popularity" selected="selected">Sort by Popularity</option>
										<option value="rating">Sort by Average rating</option>
										<option value="date">Sort by newness</option>
										<option value="price">Sort by Price: low to high</option>
										<option value="price-desc">Sort by Price: high to low</option>
									</select>
								</div>
								<a href="#collapseFilters" data-bs-toggle="collapse" class="btn_filters"><i class="icon_adjust-vert"></i><span>Filters</span></a>
								<!--							-->
							</div>
						</div>
						<!-- /filters_full -->
						<!--정렬 끝-->
						<!--필터 시작-->
						<div class="collapse filters_2" id="collapseFilters2">
							<div class="container margin_detail">
								<div class="row">
									<div class="col-md-6">
										<div class="filter_type">
											<h6>Categories</h6>
											<ul>
												<li>
													<label class="container_check">예약 <small>12</small>
														<input type="checkbox">
														<span class="checkmark"></span>
													</label>
												</li>
												<li>
													<label class="container_check">예약_일반빵 <small>24</small>
														<input type="checkbox">
														<span class="checkmark"></span>
													</label>
												</li>
												<li>
													<label class="container_check">웨이팅 <small>24</small>
														<input type="checkbox">
														<span class="checkmark"></span>
													</label>
												</li>
											</ul>
										</div>
									</div>
									<!--	                            <div class="col-md-6">-->
									<!--	                                <div class="filter_type">-->
									<!--	                                    <h6>Rating</h6>-->
									<!--	                                    <ul>-->
									<!--	                                        <li>-->
									<!--	                                            <label class="container_check">Superb 9+ <small>06</small>-->
									<!--	                                                <input type="checkbox">-->
									<!--	                                                <span class="checkmark"></span>-->
									<!--	                                            </label>-->
									<!--	                                        </li>-->
									<!--	                                        <li>-->
									<!--	                                            <label class="container_check">Very Good 8+ <small>12</small>-->
									<!--	                                                <input type="checkbox">-->
									<!--	                                                <span class="checkmark"></span>-->
									<!--	                                            </label>-->
									<!--	                                        </li>-->
									<!--	                                        <li>-->
									<!--	                                            <label class="container_check">Good 7+ <small>17</small>-->
									<!--	                                                <input type="checkbox">-->
									<!--	                                                <span class="checkmark"></span>-->
									<!--	                                            </label>-->
									<!--	                                        </li>-->
									<!--	                                        <li>-->
									<!--	                                            <label class="container_check">Pleasant 6+ <small>43</small>-->
									<!--	                                                <input type="checkbox">-->
									<!--	                                                <span class="checkmark"></span>-->
									<!--	                                            </label>-->
									<!--	                                        </li>-->
									<!--	                                    </ul>-->
									<!--	                                </div>-->
									<!--	                            </div>-->
									<!--	                            <div class="col-md-12">-->
									<!--	                                <div class="filter_type">-->
									<!--	                                    <h6>Distance</h6>-->
									<!--	                                    <div class="distance"> Radius around selected destination <span></span> km</div>-->
									<!--	                                    <div><input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal"></div>-->
									<!--	                                </div>-->
									<!--	                            </div>-->
								</div>
								<!-- /row -->
							</div>
						</div>
						<!-- /filters -->
						<!--필터 끝-->
					<div class="row">
						<div class="col-lg-12 col-sm-6">
							<div class="strip" th:each="store : ${stores}">
								<figure>
									<img th:src="${store.thumbnail}" data-src="img/location_1.jpg" class="img-fluid lazy" alt="">
									<a href="storeDetail" class="strip_info">
										<div class="item_title">
											<h3 th:text="${store.storeName}"></h3>
											<small th:text="${store.storeAddress}"></small>
										</div>
									</a>
								</figure>
								<ul>
									<li><a href="#0" data-id="1" class="address">View on Map</a></li>
									<li>
										<div class="score"><span><em>350 Reviews</em></span><strong th:text="${store.starRating}"></strong></div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /strip grid -->
					</div>
						<!-- /row -->
					</div>
				</div>
					<nav class="position-relative" th:if="${pageCriteria != null}" th:object="${pageCriteria}" aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<!--/* 이전 영역 */-->
							<li th:class="|page-item *{pagebarStart == 1 ? 'disabled' : ''}|">
								<a class="page-link" th:href="|*{url}*{pagebarStart - 1}|">이전</a>
							</li>

							<!--/* 페이지숫자 영역 */-->
							<!--/* th:each에는 break 기능이 없다.*/-->
							<th:block th:each="pageNo : *{#numbers.sequence(pagebarStart, pagebarEnd)}">
								<li th:if="${pageNo <= pageCriteria.maxPage}" th:class="|page-item ${pageCriteria.page == pageNo ? 'active' : ''}|">
									<a class="page-link" th:href="|*{url}${pageNo}|" th:text="${pageNo}"></a>
								</li>
							</th:block>

							<!--/* 다음 영역 */-->
							<li th:class="|page-item *{pagebarEnd > maxPage ? 'disabled' : ''}|">
								<a class="page-link" th:href="|*{url}*{pagebarEnd + 1}|">다음</a>
							</li>
						</ul>
					</nav>
<!--					<p class="text-center"><a href="#0" class="btn_1"><strong>Load more</strong></a></p>-->
			</div>

	        </div>
	            <!-- /content-left-->
	            <div class="col-xl-8 col-lg-7 map-right">
	                <div id="map" class="map_right_listing"></div>
	                <!-- map-->
	            </div>
	            <!-- /map-right-->
	    	</div>
	        <!-- /row-->
	    <!-- /container-fluid -->
	</main>
	<!--/main-->
	</div>

	<div layout:fragment="content2">
    <!-- SPECIFIC SCRIPTS -->
    <script th:src="@{/store/js/sticky_sidebar.min.js}"></script>
    <script th:src="@{/store/js/specific_listing.js}"></script>

    <!-- Map LeafLet + Mapbox-->
	<script th:src="@{/store/js/leaflet_map/leaflet.min.js}"></script>
    <script th:src="@{/store/js/leaflet_map/leaflet_markercluster.min.js}"></script>
    <script th:src="@{/store/js/leaflet_map/leaflet_markers.js}"></script>
    <script th:src="@{/store/js/leaflet_map/leaflet_half_screen_func.js}"></script>
	</div>
<!--body end-->
</html>