<!DOCTYPE html>
<!--Customer 메인 마이페이지-->
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/default}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<!--    main page only css-->
<link th:href="@{/css/customer/booking-sign_up.css}" rel="stylesheet">
<!--	스크롤추가-->
<!--	<style>-->
<!--		.scrollable-container {-->
<!--			max-height: 80vh; /* Adjust this value as needed */-->
<!--			overflow-y: scroll;-->
<!--		}-->
<!--	</style>-->
</head>
<main class="bg_gray pattern" layout:fragment="main">
<div>
    <br>
    <h1>메인 Mypage입니다</h1>
    <h1>🎈환영합니다🎈 <span  th:text="${memberName}"> 님 !</span></h1>
    <h2>닉네임 : <span th:text="${memberNickName}"></span></h2>
    <h2>아이디 : <span th:text="${memberEmail}"></span></h2>
    <h2>핸드폰번호 : <span th:text="${memberNickName}"></span></h2>
    <h2>성별 : <span th:text="${memberPhone}"></span></h2>
    <h2>생일 : <span th:text="${customerBirthday}"></span></h2>
    <img th:src="${customerProfileImage}" alt="Profile Image">
</div>
</main>