<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estimated Waiting Time Setting</title>
</head>
<body>
<h1>Set Estimated Waiting Time</h1>

<form th:action="@{/store/setting/estimated-waiting-time}" method="post">
    <!-- Current Estimated Waiting Time in Minutes -->
    <div>
        <label for="estimatedWaitingTime">Estimated Waiting Time (minutes):</label>
        <input type="number" id="estimatedWaitingTime" name="estimatedWaitingTime"
               min="0" max="60" th:value="${estimatedWaitingTime}" required />
    </div>

    <!-- Submit Button -->
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</body>
</html>
