<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Waiting People Count Setting</title>
</head>
<body>
<div class="container">
    <h1>Waiting People Count Setting</h1>
    <form th:action="@{/store/setting/waiting-people-count}" method="post">
        <div class="form-group">
            <label for="waitingPeopleCount">Waiting People Count:</label>
            <input type="number" id="waitingPeopleCount" name="waitingPeopleCount"
                   th:value="${waitingPeopleCount}" required min="0" max="20">
        </div>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>