<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 실패</title>
    <style>
        .header {
            font-size: 24px;
            font-weight: bold;
        }
        .margin-bottom  {
            margin-bottom: 20px;
        }
        .detail{
            margin-bottom: 100px;
        }
    </style>
</head>
<body>
<h1>결제 실패</h1>
<p> 😂 결제가 실패했습니다. 😂 </p>
<div class="header margin-bottom">Payment Failure Details</div>
<div></div>
<div class="detail" th:if="${response.extras != null}">
    <div><strong>실패 코드:</strong> <span th:text="${response.extras.methodResultCode}"></span></div>
    <div><strong>실패 메시지:</strong> <span th:text="${response.extras.methodResultMessage}"></span></div>
</div>
<div class="detail" th:unless="${response.extras != null}">
    <div >🤦🏻‍♀️서버 오류 입니다.ㅠㅠ🤦🏻‍♂️</div>
</div>
<a href="/" target="_parent">메인 페이지로</a>
</body>
</html>