<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="maseatdang - 전국에서 가장 맛있는 제과점을 가장 빠르게 만나는 방법">
    <meta name="author" content="amatdang">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">마싯당</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/img/customer/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" th:href="@{/img/customer/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{/img/customer/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" th:href="@{/img/customer/apple-touch-icon-114x114-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{/img/customer/apple-touch-icon-144x144-precomposed.png}">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link th:href="@{/css/customer/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/customer/style.css}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link th:href="@{/css/customer/custom.css}" rel="stylesheet">

</head>
<body>
<header th:replace="~{customer/fragments/header::headerFragment}"></header>
<main layout:fragment="main"></main>
<!--<aside th:replace="~{customer/fragments/aside::asideFragment}"></aside>-->
<footer th:replace="~{customer/fragments/footer::footerFragment}"></footer>
<!-- COMMON SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/customer/common_scripts.min.js}"></script>
<script th:src="@{js/customer/slider.js}"></script>
<script th:src="@{/js/customer/common_func.js}"></script>
<script th:src="@{/assets/customer/validate.js}"></script>
<script layout:fragment="js"></script>
</body>
</html>